//BOYDE GENÉRICO//

body{
    display: flex; /*declaro body como flex*/
    flex-direction: column; /*eje principal vertical*/
    height: 100dvh; /*ocupo toda la pantalla*/
    text-align: center;
    background-color: beige;
    margin: auto;
}

//Index//

.h1{
    background-color: black;
    margin-bottom: 4%;
}
// MENÚ Index //

div#carouselExampleCaptions, #carouselExampleFade{ //carousel usados en index y nosotros//
    height: auto;
    width: 90%;
    margin: auto;
}

.h2, .pagosyenv{
    margin: 5%;
}

div.formas{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2%;
    padding-bottom: 0px;
}

img.form{
    width: 3.5%;
    object-fit: cover;
}



.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 4%;
}

section.flex>img
  {width: 20%;
 object-fit: cover;
  }  

.pe, .pd{
    background-color: grey; 
}

// FIN MENÚ Index //

//seccion form//

div.form{
    border-top: none;
    border-bottom: none;
}
form{
    display: grid;
    gap: 12%;
    margin: auto;
    margin-bottom: 12%;
}

//seccion contacto index//

h2.contact{
    font-size: 180%;
    padding: 0%;
    margin-bottom: 2%;
}

.contact{
    background-color: grey;
    color: beige;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 90%;
    padding: 2%;
}
@media (max-width: 768px) {
    .contact {
        padding: 5%;
    }
    img.form{
    width: 10%;
    object-fit: cover;
}
}

//fin seccion contacto index//
//fin index//

//VASOS//

// Menú VASOS , TERMOS Y MATES//

.flex2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section.flex2>span>img{
    width: 30%;
    object-fit: cover;
}

.rotate-right{
    transform: rotate(30deg);
}

.rotate-left{
    transform: rotate(-30deg);
    }

.cont2{
    display: grid;
    justify-content: center;
    margin: auto;
    width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(280px, 1fr));
    gap: 40px;
    padding: 2%;
    margin-top: 5%;
}

.card {
	background-color: white; 
	border-radius: 8px;
	padding: 1rem;
	width: 100%;
    display: flex;
    flex-direction: column;
}

.card__img {
	width: 100%;
}

.card__title {
	font-size: 20px;
	margin: 14px 0 10px;
}

.card__link{
    border-radius: 8px;
    margin-top: 7px;
    padding: 0.7rem 0.6rem;
    color: white;
    text-decoration: none;
    background-color: grey;
    font-size: 15px;
    display: inline-block;
}

.card__link--modif{
    background-color: black;
    border: none;
}

// estilos de card de Termos y Mates en utilities/_mixins.scss //

// FIN Menú VASOS , TERMOS Y MATES//
// FIN VASOS, TERMOS Y MATES//

//NOSOTROS//
//Menú NOSOTROS//

main{
    margin-bottom: auto;
    .pse{
        h2{
        font-size: 3rem;
        }
        p::first-letter {
		font-size: 4rem;
	}
	    p::first-line {
		color: grey;
	}
}
}

//FIN Menú Nosotros//
//Fin nosotros//

//CONTACTO//
//Menú Contacto//

section.formulario{
    display: flex;
    margin: auto;
    line-height: 180%;
    padding: 2%;
}
textarea {
		border-radius: 8px;
		padding: 10px;
		border: 0;
}
input:read-only {
	background: #b4ba8c;
}
input:checked {
	width: 35px;
	height: 35px;
}
textarea:required {
	border: 2px solid red !important;
}

div.contflex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fondorelleno{
    background-color: black;
    color: white;
}

img.form1{
    height:10%;
    width:10%;
}

@media ( max-width: 768px){
    fieldset {
    margin-bottom: 25%;
}


}

//FIN menú contacto//

//estilos de la seccion contact--new y  formulario en utilities/_extended.scss

//Fin CONTACTO//





    





